<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="cw01.js"></script> -->
</head>

<body>
    <a href="../index.html" id="test">WROC DO GLOWNEJ</a>
    <div id="app">
        <h1>{{ul1}}</h1>
        <ul v-for="item of array">{{item}}</ul>
        <h1>{{ul2}}</h1>
        <ul v-for="item of array">{{item["a"]}} {{item["b"]}}</ul>
        <h1>{{ul3}}</h1>
        <ul v-for="(item,i) of array">{{i}}:{{item["a"]}} {{item["b"]}}</ul>
    </div>

</body>

</html>

<script>
    Vue.createApp({

        data() {
            return {
                ul1: "ul1 - obiekty tablicy",
                ul2: "ul 2 - wartości obiektów tablicy",
                ul3: "ul 3 - wartości obiektów tablicy z licznikiem",
                array: [{ a: 1, b: 4 }, { a: 2, b: 5 }, { a: 3, b: 6 }]
            }
        }
    }).mount("#app")
</script>