<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- <script src="cw01.js"></script> -->
</head>

<body>
    <a href="../index.html" id="test">WROC DO GLOWNEJ</a>
    <div id="app">
        <h3>{{title1}}</h3>
        <li v-for="(value,key) in object">{{key}} - {{value}} </li>
        <h2>{{title2}}</h2>
        <li v-for="(val, key, index) in object">{{index}} - {{key}} - {{val}}</li>

    </div>

</body>

</html>

<script>
    const app = Vue.createApp({

        data() {
            return {
                object: {
                    a: 111,
                    b: 222,
                    c: 333
                },
                title1: "ul 1 - value key obiektu",
                title2: "ul 2 - value key index obiektu"
            }
        }
    }).mount("#app")
</script>